/* RESET RULES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
  font-family: "Roboto";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* LAYOUT */
.container {
  max-width: 900px;
  padding: 0;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-100 {
  width: 100%;
  /* background-color: rgb(0, 140, 26); */
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.col-66 {
  width: calc((100% * 2) / 3);
}

.col-33 {
  width: calc(100% / 3);
}

.col-16 {
  width: calc(100% / 6);
}

.button {
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-size: 20px;
}

/* HEADER */

.main-header {
  padding: 20px 80px;
  background-color: rgba(37, 94, 233, 255);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .link {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar .login {
  text-align: end;
}

/* MAIN */

/* Hero */

.hero {
  display: flex;
  align-content: center;
  min-height: 550px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.hero .container {
  display: flex;
  width: 700px;
  align-self: center;
  justify-content: center;
}

.hero .row > * {
  text-align: center;
}

.intro {
  padding: 30px;
}

.hero-buttons {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

/* GROUPS */

.groups {
  padding: 40px;
}

.groups .container {
  display: flex;
}

.groups .col-60 {
  background-image: url(../img/item1.svg);
  background-size: contain;
}

/* .groups .col-40 {
  text-align: justify;
} */

/* COMMUNITY */

.community {
  padding: 40px;
}

.community .container {
  display: flex;
}

.community .col-60 {
  background-image: url(../img/item3.svg);
}

/* MEET */

.meet {
  padding: 40px;
}

.meet .container {
  display: flex;
}

.meet .col-60 {
  background-image: url(../img/item2.svg);
}

/* TECH */

.tech {
  padding: 40px;
}

.tech .container {
  display: flex;
  min-height: 800px;
}

.row-col-20 {
  height: calc((100% / 5));
  text-align: center;
}

.row-col-30 {
  height: calc((100% / 10) * 3);
  text-align: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
}

.row-col-50 {
  height: calc(100% / 2);
  text-align: center;
}

.button.blue {
  color: white;
  background-color: rgb(90, 90, 204);
  margin-top: 20px;
}

.row-col-50 {
  height: calc(100% / 2);
}

/* SECTION 6 */

.section-6 {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: rgb(44, 43, 45);
}

.section-6 .container {
  display: flex;
}

.section-6 .row {
  min-height: 400px;
  display: flex;
}

/* FOOTER*/

.main-footer {
  background-color: rgb(44, 43, 45);
  padding-top: 20px;
}

.main-footer .container {
  background-color: aqua;
  align-items: center;
}

.main-footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

/* UTILITIES */
.row-reverse {
  flex-direction: row-reverse;
}

.white {
  color: white;
}

.images {
  background-size: contain;
  background-repeat: no-repeat;
}

.content {
  min-height: 450px;
}

.title {
  margin-bottom: 20px;
  font-size: 40px;
}

.par {
  font-size: 20px;
}

/* DEBUG RULES */

/* .debug .container {
  border: 2px dotted black;
} */

.debug .row {
  /* border: 2px dotted rgb(245, 0, 0); */
  flex-grow: 1;
}
/* 
.debug .col {
  border: 2px dotted rgb(0, 145, 255);
} */

/* .debug .col-100 {
  background-color: rgb(0, 140, 26);
} */

/* .debug .col-60 {
  background-color: rgb(85, 176, 255);
} */

/* .debug .col-66 {
  background-color: rgb(43, 223, 255);
} */

/* .debug .col-40 {
  background-color: rgb(246, 202, 255);
} */

.debug .col-33 {
  background-color: rgb(252, 148, 188);
}

.debug .col-16 {
  background-color: rgb(118, 222, 228);
}

/* .debug.hero {
  background-color: rgb(26, 26, 191);
  min-height: 300px;
}

.debug.hero .row {
  min-height: 250px;
  background-color: rgb(255, 147, 242);
} */

/* .debug.groups .row > * {
  border: 2px dashed black;
  min-height: 300px;
} */

/* .debug.meet {
  background-color: rgb(223, 223, 223);
} */

/* .debug.meet .row {
  min-height: 300px;
} */

.debug.section-4 .row {
  min-height: 300px;
}
.debug.section {
  background-color: rgb(223, 223, 223);
}
.debug.section-5 .row {
  min-height: 500px;
}

.main-footer.debug .row > * {
  background-color: pink;
  padding: 5px;
}
